/* ----- Global ----- */
body {
  background-color: rgb(253 , 251 , 251);
  margin: 0;
  font-family: Helvetica, sans-serif;

  --header-height: 80px;
}

.main_area {
  margin-top: var(--header-height);
}

nav li {
  display: inline-block;
}

/* ----- Cabeçalho ----- */
#cabecalho {
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background-color: rgb(65 , 63 , 165);
}

#cabecalho h1 {
  color: antiquewhite;
  margin-left: 30px;
}

#cabecalho nav {
  float: right;
  margin-top: -72px;
  margin-right: 10px;
}

#cabecalho nav a {
  text-decoration: none;
  padding: 6px;
  background-color: rgb(205 , 210 , 255);
  border-radius: 3px;
  display: inline-block;
  margin-right: 7px;
  color: black;
}

#cabecalho nav a:hover {
  background-color: rgb(205 , 235 , 255);
  border: solid 1px rgb(65 , 63 , 165);
  padding: 5px;
}

/* ----- Artigo ----- */
.article_section {
  padding: 40px 0 40px max(10% , 100px);
  vertical-align: top;
  background-color: rgba(54 , 73 , 128 , 0.205);
  display: inline-block;
}

#minha_foto {
  border: 3px rgb(30 , 150 , 94);
  border-radius: 5%;
  margin: 5px;
  width: max(20% , 200px);
  float: left;

}

.lado-esquerdo {
  float: left;
  width: 50%;
}

article h2 {
  font-size: 36px;
}

article p {
  font-size: min(20px , 3vw);
  line-height: 1.05em;
}

.lado-direito {
  float: right;
  width: 30%;
  padding: 30px 10px 30px 30px;
  border-radius: 30px;
  background-color: rgb(39 , 7 , 61);
  color: antiquewhite;
}

.article-wrap {
  width: 60%;
  display: inline-block;
  padding: 10px 40px;
}

/* ----- Seção de listas ----- */
.list-section {
  background-color: rgb(47 , 44 , 71);
  padding: 30px 10%;
  margin: 0 auto;
}

.list-section:after {
  content: '';
  display: table;
  clear: both;
}

.lista {
  background-color: rgba(200 , 200 , 231 , 0.959);
  margin: 10px 5px;
  color: rgb(32 , 36 , 100);
  width: 36vw;
  height: auto;
  border-radius: 25px;
  border: dotted white 2px;
  overflow: auto;
}

.l1 {
  float: left;
}

.l2 {
  float: right;
}

.lista h3 {
  margin-left: 23px;
}

/* ----- Seção de Tabela ----- */
.table-section {
  background-color: rgb(47 , 44 , 71);
  padding: 10px 10% 30px;
  margin: -40px auto 0;
  color: rgba(200 , 200 , 231 , 0.959);
}

.table-section:after {
  content: '';
  display: table;
  clear: both;
}

.main-table {
  margin: 0 auto;
  background-color: white;
  border: solid black;
  border-radius: 10px;
  text-align: center;
  color: rgba(47 , 44 , 71 , 0.616);
  border-spacing: 0;
}

.main-table th {
  border: black solid 1px;
  padding: 5px
}

.main-table td {
  border: black solid 1px;
  padding: 5px;
}

/* ----- Rodapé ----- */
#rodape {
  background-color: black;
  color: white;
  padding: 40 px;
}

#rodape div {
  display: inline-block;
  width: 100%;
}

#rodape p {
  text-align: center;
}

#rodape span {
  text-decoration: line-through;
}

/* Referências:
Arredondamento da tabela: https://shorturl.at/egzCJ 
*/